version: '3.7'
services:
  redis:
    image: redis
    networks:
      gid:
        ipv4_address: 172.16.0.2
  nginx:
    build:
      context: ./docker/dev
      dockerfile: nginx/Dockerfile
    environment:
      TZ: "Europe/Moscow"
    volumes:
      - ./app:/app
    depends_on:
      - php-fpm
      - php-cli
    ports:
      - '80:80'
    networks:
      gid:
        ipv4_address: 172.16.0.3
  php-fpm:
    build:
      context: ./docker/dev
      dockerfile: php-fpm/Dockerfile
      args:
        - USER_ID
    volumes:
      - ./app:/app
    depends_on:
      - redis
      - db
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      TZ: "Europe/Moscow"
      PHP_IDE_CONFIG: serverName=gid
      REDIS_PORT: 6379
      REDIS_HOST: redis
    networks:
      gid:
        ipv4_address: 172.16.0.4
        aliases:
          - gid
    links:
      - "db:app"
  php-cli:
    build:
      context: ./docker/dev
      dockerfile: php-cli/Dockerfile
      args:
        - USER_ID
    volumes:
      - ./app:/app
    depends_on:
      - redis
      - db
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      TZ: "Europe/Moscow"
      REDIS_PORT: 6379
      REDIS_HOST: redis
      PHP_IDE_CONFIG: serverName=gid
    networks:
      gid:
        ipv4_address: 172.16.0.5
    tty: true
  db:
    image: postgis/postgis:14-3.3
    volumes:
      - ./storage/docker/postgres:/var/lib/postgresql/data
    environment:
      TZ: 'Europe/Moscow'
      POSTGRES_USER: gid
      POSTGRES_PASSWORD: gid
      POSTGRES_MULTIPLE_DATABASES: gid,gid_test
    networks:
      gid:
        ipv4_address: 172.16.0.6
networks:
  gid:
    name: gid
    ipam:
      driver: default
      config:
        - subnet: 172.16.0.0/24
